main{
    padding: 2em;
    max-width: 800px;
    margin: auto;
    display:flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: aliceblue;
}

h1{
    font-family: Arial,Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;


}
.imgs{
    margin-bottom: 1em;
    box-shadow: 4em 2em 5em rgba(0,0,0,0.1);
    border-radius: 0.5em;
    backdrop-filter: blur(5px);
    gap: 1em;
display:flex;
flex-direction: column;
align-items: center;
position: relative;

}

.img-1{
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    box-shadow: 2em 1em 3em rgba(0,0,0,0.1);
    border-radius: 0.5em;
    backdrop-filter: blur(5px);
    
}

nav{
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color:transparent;
    backdrop-filter: blur(10px);
    padding:1em;
    box-shadow:1em 0 2em rgba(0,0,0,0.1);
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 1em;
    transition: text-decoration 0.3s ease;
    position: relative;
    animation: fadeIn 0.5s ease-in-out;

}
a:hover{
    cursor: pointer;
    animation-delay: 0.2s;
}
header{
    display: flex;
    justify-content: center;
    position:relative
}


footer{
    padding: 1em;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: center;
    gap: 1em;
}

.img{
box-shadow: 1em 1em 7em rgba(0,0,0,0.7);
border-radius: 0.5em;
backdrop-filter: blur(5px); 
margin:2em 0;   
}

.end{
text-align: left;
}

.copyright{
    text-align: center;
    margin-top: 1em;
    font-size: 0.9em;
    color: #777;
}

